body{
    margin: 0;
    padding: 0;
    background-color: #F7F7F7;
}
h1{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 65px;
    font-weight: bold;
    font-style: italic;
    color: #707070;
    word-break: break-all;
    text-align: center;
    margin-top: 0px;
    margin-bottom: 30px;
}
h3{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100px;
    background-color: #B5C401;
    font-size: 22px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-style: italic;
    color: white;
    width: 144px;
    height: 39px;
    margin-left: 75px;
    margin-top: 0px;
    margin-bottom: 30px;
}
h2{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 35px;
    font-weight: bold;
    font-style: italic;
    color: #707070;
    margin-bottom: 20px;
    text-align: center;
    margin-top: 80px;  
}
main{
    display: flex;
    height: 630px;
}
.section_text{
    display: flex;
    justify-content: center;
    width: 794px;
    text-align: center;
}
.div_text{
    margin-top: 90px;
}
.card{
    background-color: white;
    border-top: solid 1px #DDDDDD;
    border-bottom: solid 1px #DDDDDD;
    border-left: solid 1px #DDDDDD;
    border-right: solid 1px #DDDDDD;
    width: 314px;
    height: 190px;
    border-radius: 14px;
}
input{
    all: unset;
    width: 284px;
    background-color: #FFFFFF;
    padding: 20px 0px;
    padding-left: 30px;
}
input[type="email"]{
    border-bottom: solid 1px #DDDDDD;
    margin-top: 11px;
    padding-top: 9px; 
    padding-bottom: 20px;
}
input::placeholder{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
    font-weight: bold;
    font-style: italic;
    color: #9D9D9D;  
}
.div_send{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    height: 123px;
}
.a_send{
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-style: italic;
    font-size: 35px;
    color: #B5C401;
}
.svg_1{
    color: #B5C401;
}
.div_back{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-top: 20px;
}
.a_back{
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-style: italic;
    font-size: 35px;
    color: #707070;
}
.svg_2{
    color: #707070;
    transform: rotate(180deg);
}
footer{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    color: #707070;
    border-top: solid 2px #EBEBEB;
}